td, th {
    font-size: 12px;
    color: black;
    border: 1px solid;
    
    width: 100px;
}

.green{
    background-color: green
}

.orange{
    background-color: orange
}
.red{
    background-color:red
}